@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: "gvonz";
        font-weight: 300;
        src: url("/gvonz-2.ttf") format("truetype");
        font-display: swap;
  }
    @font-face {
        font-family: "syoog";
        color: #07d6d1;
        src: url("/syoog.otf") format("opentype");
        font-display: swap;
    }
}